.book {
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
}

.book-pictures,
.book-details,
.book-order {
  width: calc(100vw / 3);
}

.pictures-box,
.book-order-box {
  display: flex;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 2px 2px 0 rgb(0 0 0 / 14%);

  flex-direction: column;
  border-radius: 8px;
  background: #fff;
  position: relative;
  margin: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  overflow: auto;
}
.picture-container {
  margin: auto 0;
  padding: 8px 0;
}

.pictures-nav {
  height: 64px;
  margin: auto 0 8px;
}

.small-pictures {
  padding: 0 8px;
  margin: 1px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.img-card {
  position: relative;

  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 2px 1px -1px rgb(0 0 0 / 12%),
    0 1px 1px 0 rgb(0 0 0 / 14%);
  overflow: hidden;
  padding: 8px;
  width: 64px;
  margin: 0 1rem;
  height: 64px;
  border: 1px solid transparent;
}

.img-card:hover {
  border: 1px solid var(--blue-color);
}

.model-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 98vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: none;

  top: 0;
}
.wrap-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  height: 100vh;
}

.model-container img {
  width: 30%;
  height: auto;
}

.model-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  position: absolute;
}
.arrow {
  font-size: 4rem;
  color: var(--white-color);
}
.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

.book-description p {
  padding: 1.5rem;
  background-color: var(--light-gray);
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

.siderbar-navigator .book {
  margin: 3rem;
}

.book-order-box {
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.book-order .yellow-note {
  background-color: var(--yellow-color);
  padding: 0.5rem;
}

.book-order p span {
  font-weight: 600;
}
.book-order a {
  color: var(--blue-color);
  font-weight: 600;
}

.book-order .add-to-basket-input {
  display: flex;
  margin: 1rem 0;
}

.book-order .add-to-basket-input input {
  width: 20%;
  margin-left: 0.5rem;
  background-color: var(--light-gray);
}

.book-order .add-to-basket-input img {
  width: 30px;
}

.book-order .add-to-basket-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
}
.book-order .cards-notes {
  background-color: var(--light-gray);
  color: var(--dark-grey);
  display: grid;
  padding: 0.5rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.book-order .cards-notes > div {
  display: flex;
  margin: 0.5rem;
}

.book-order .cards-notes img {
  width: 12px;
  height: auto;
  margin-left: 0.3rem;
}

.book-details {
  padding: 1.5rem;
}
.book-details .product-name p {
  color: var(--dark-grey);
  font-weight: 600;
  font-size: 1.5rem;
}
.book-details .price-box .price {
  justify-content: start;
}

@media screen and (max-width: 800px) {
  .book {
    flex-direction: column;
  }
  .book > div {
    width: 100%;
  }
}
